         
     <!--Upcoming next 5 drawings-->  
    <H1 class="dayofheading">Upcoming Prize Drawings</H1>
    <center>
       <div class="table-responsive prize-table">
           <table class="table table-striped table-bordered">
               <tr><th class="winningnumbertable">Draw Time</th>
                   <th class="winningnumbertable mobile-table">Image</th>
                   <th class="winningnumbertable">Prize Name</th>
                   <th class="winningnumbertable mobile-table">Description</th>
               </tr>
               <tbody>
               <%prizes.each do |prizes|%>
                   <tr class="tablefont"><td><%=prizes["draw_time"]%></td>
                       <td class="mobile-table"><%=prizes["img_location"]%></td>
                       <td><%=prizes["name"]%></td>
                       <td class="mobile-table"><%=prizes["description"]%></td>
                   </tr>
               </tbody>
              <%end%>
          </table>        
       </div>
    </center>
    
</div>   