<div class="container-margin">
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <H1 class="smediaheadline1">Watch the GrandBash Live</H1> 
        <!-- Your embedded video player code -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="fb-video" data-href="https://www.facebook.com/cheddartv/videos/1665434477110617/" data-width="500" data-show-text="false"data-allowfullscreen="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/cheddartv/videos/1665434477110617/">
                            <a href="https://www.facebook.com/cheddartv/videos/1665434477110617/">How to Share With Just Friends</a>
                            <p>How to share with just friends.</p>
                            Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="fb-video" data-href="https://www.facebook.com/ManCityMEN/videos/1056427454433661/" data-width="500" data-show-text="false"data-allowfullscreen="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/ManCityMEN/videos/1056427454433661/">
                            <a href="https://www.facebook.com/ManCityMEN/videos/1056427454433661/">How to Share With Just Friends</a>
                            <p>How to share with just friends.</p>
                            Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row fbshare1">
            <div class="col-xs-12 col-lg-6">
                 <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fgrandbash.herokuapp.com%2Fdayofevent&layout=button&size=small&mobile_iframe=true&appId=1737696726513309&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                 <a href="https://twitter.com/share" class="twitter-share-button" data-text="Join in the fun and watch the GrandBash live" data-hashtags="WVGrandbash" data-show-count="false">Tweet</a>
            </div>
        </div>
    </div>            
    <!--Upcoming next 5 drawings-->  
    <H1 class="dayofheading">Upcoming Prize Drawings</H1>
    <center>
       <div class="table-responsive prize-table">
           <table class="table table-striped table-bordered">
               <tr><th class="winningnumbertable">Draw Time</th>
                   <th class="winningnumbertable mobile-table">Image</th>
                   <th class="winningnumbertable">Prize Name</th>
                   <th class="winningnumbertable mobile-table">Description</th>
               </tr>
               <tbody>
               <%prizes.each do |prizes|%>
                   <tr class="tablefont"><td><%=prizes["draw_time"]%></td>
                       <td class="mobile-table"><%=prizes["img_location"]%></td>
                       <td><%=prizes["name"]%></td>
                       <td class="mobile-table"><%=prizes["description"]%></td>
                   </tr>
               </tbody>
              <%end%>
          </table>        
       </div>
    </center>
    <div class="container">
        <div class="row fbshare1">
            <div class="col-xs-12 col-lg-6">
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fgrandbash.herokuapp.com%2Fdayofevent&layout=button&size=small&mobile_iframe=true&appId=1737696726513309&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="I hope I win in one of the upcoming drawings" data-hashtags="WVGrandbash" data-show-count="false">Tweet</a>
            </div>
        </div>
    </div>   
    <!--Social media feeds-->  
    <div class="container">
        <div class="row">
            <h1 class="smediaheadline1">Social Media Feeds</h1>
            <div class="col-xs-12 col-lg-6">
            <a class="twitter-timeline" data-width="450" data-height="620" href="https://twitter.com/WVUKids">Tweets by WVUKids</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-xs-12 col-lg-6">
                
                <div class="fb-page" data-href="https://www.facebook.com/wvgrandbash" data-tabs="timeline" data-width="580" data-height="440" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>

            </div>
        </div>
    </div>
</div>  
<div class="fb-page" data-href="https://www.facebook.com/wvgrandbash" data-tabs="timeline" data-width="580" data-height="440" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>  
<!--end social media feeds-->