<!DOCTYPE html>
<html lang="en">



    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FAQ
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Why can't residents of my state purchase tickets?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                At this time we are only able to sell raffle tickets to residents of states that do not prohibit charitable raffles and those states whose charitable raffle laws are consistent with those followed by the West Virginia Grand Bash. We are currently unable to sell raffle tickets to residents of states including, but not limited to Alabama, Hawaii, Utah and Wisconsin. In the event a raffle ticket sale is made to a resident of a prohibited state, whether or not listed above, the purchase price of the raffle ticket will be fully refunded to the purchaser, or if the purchaser so elects, may be made instead as a donation to the WVU Children’s Hospital. We apologize for any inconvenience.

                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Why can't residents of my state purchase tickets online?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Due to individual states' raffle laws we are unable to allow online credit card sales of tickets to residents of states including, but not limited to Alaska, Arizona, Arkansas, California, Delaware, Idaho, Illinois, Indiana, Kansas, Louisiana, Minnesota, Montana, Nevada, New Jersey, and North Dakota. However, you may contact the WVU Children’s Development Office at (304) 598-4346 during business hours (Monday-Friday 9am-5pm) to make purchase(s) over the phone with a credit card (Visa, MasterCard or Discover).  You can also purchase from ticket outlets and via mail in registration.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I was emailed my ticket.  What do I do now?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                You can print off your ticket and bring it to the entrance to get into the event OR you can pull the PDF ticket up on your smartphone when you arrive on the day of the event!  All e-ticket requests will be processed within 3-5 business days of purchase date.  If you have not received your ticket within the allotted time,  please check your junk/spam folders!S.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What do I need to claim a prize?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                We need 2 forms of ID for the W2G to claim the prize. The first being a picture ID (driver license, passport). Second form must show your SS# (SS card, W2 from employer, tax return).
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> Who won last year? </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                See list on Winning Numbers Tab.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What happens to the tickets that are unsold?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                As stated in the 2017 rules, all unsold tickets become property of WVU Children's Hospital.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Will winner's names be published?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                We publish winning ticket numbers and winner's city and state. 

WV Grand Bash is all about volunteers and fundraisers answering the call to service, raising funds and awareness for WVU Children's Hospital.

We understand that other bashes publicize the names of their winners. It is our policy to protect the identity of all WVU Children’s Hospital donors.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Who is supplying the food and beverages this year?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                JW Thirsty's 341 Grill!
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">11am-7am is a long time to attend with only 1 meal offered, will there be other food for purchase and can I bring snacks?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                Of course! Other food items will be available for purchase throughout the day. Snacks can be brought in, within reason. NO COOLERS PLEASE. Remember, other individuals will be seated at your table so please be respectful of the people around you.  

                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What other raffles will be happening this year?</a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                               Coming Soon 

                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">If I don't attend, how will I know if I won?</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                All winners will be contacted by phone and/or email the WEEK AFTER the event is held.

A list of winning ticket numbers will be placed on this website the week AFTER the event is held.

Upon providing a self-addressed, stamped envelope, a ticket holder will be mailed a list of winning ticket numbers AFTER the event.  

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">How are winning ticket numbers chosen?</a>
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="panel-collapse collapse">
                            <div class="panel-body">
                               Bingo blower machines will be used again to select all winning ticket numbers. Each ticket number then has the possibility of winning multiple times.

                            </div>
                        </div>
                    </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <hr>
ALL 2016 winning numbers have been placed on the WINNING NUMBERS TAB


</body>

</html>
