<!DOCTYPE html>
<html lang="en">


<center>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                </h1>
                <ol class="breadcrumb">
                    <li>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/banner.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><strong>Contest Rules and Regulations</strong></h2></center>

                        <p>
<ul style="font-size: 120%;">
<li> Must be at least 18 years of age, if a West Virginia Resident, to purchase ticket(s). If you are an out of state resident, must be of the legal age in that state to purchase ticket(s). In the event that the winner is unable to provide the appropriate identification materials, his or her prize shall be forfeited to the WVU Children's Hospital.</li>
<br>
<li> One 4‐digit number per ticket. Tickets are numbered 0000 through 9999. Only 10,000 tickets sold for this event. Only one ticket holder per ticket. Multiple names per ticket are not permitted as only one person can claim prize.</li>
<br>
<li> Drawing subject to sale of 8,500 tickets. If the drawing is not held, the ticket price will be returned to the ticket holder.</li>
<br>
<li> Must be at least 18 years of age to be on the event drawing grounds. <font color="red">NO CHILDREN (Including infants)!</font> </li>
<br>
<li> Unsold tickets will become the property of WVU Children’s Hospital.</li>
<br>
<li> <strong>Need not be present to win.</strong> All Main Ticket winners will be notified as to how and/or where to claim their prize. Each winner will have until July 31, 2017 to claim their prize(s).</li> 
<br>
<li> A full list of winning ticket numbers will be available on our website <strong><a href="/index.erb">(WVGrandBash.com)</a></strong> beginning Monday, June 26, 2017.</li>
<br>
<li> Some prizes may require payment of Federal and/or State Taxes before the receipt of the prize. This will be the responsibility of the winner. ONLY the ticket holder whose name is on the winning ticket may claim the applicable prize. The winner’s valid Social Security Card and valid picture ID are required by law to claim prize.</li>
<br>
<li> WVU Children’s Hospital reserves the right to go to a back‐up system and use whatever measures to complete this drawing.</li>
<br>
<li> In the unforeseen event that two ticket numbers are identical, the first entrant entered will supersede the duplicate. In that case, we would issue another ticket to the second entrant, or refund their money.</li>
<br>
<li> All firearm prizes will be shipped to an FFL Dealer of the Winner’s choice for pick up and background check.</li>
<br>
<li> Each WV Grand Bash ticket holder is allowed ONE PAID Guest per ticket held. Guest payment is $20.00 cash & to be paid at the door upon entry to the event. Doors will open at 11:00 AM on Saturday, June 24, 2016 at the Ruby Community Center at Mylan Park.</li>
<br>
<li> Food and soft drinks will be provided with the purchase of a paid ticket and/or paid guest entry.</li>
<br>
<li> NO BEER, WINE OR ALCOHOL may be brought into or allowed to leave the Ruby Community Center.</li>
<br>
<li> Alcoholic beverages will be available for purchase from vendors, but not provided by WVU Children’s Hospital.</li>
<br>
<li> NO GLASS CONTAINERS OR COOLERS ALLOWED on drawing grounds.</li>
<br>
<li> NO CAMPING facilities available on premises.</li>
<br>
<li> ABSOLUTELY NO PETS on drawing grounds.</li>
<br>
<li> ABSOLUTELY NO GUNS, KNIVES or WEAPONS of any kind on drawing grounds.</li>
<br>
<li> No ATV’s, whistles, bells, air horns, laser pointers, etc. allowed on drawing grounds.</li>
<br>
<li> DRUGS STRICTLY PROHIBITED: Report illegal activity to available on‐site Law Enforcement & WV Grand Bash event personnel.</li>
<br>
<li> Event Center Staff reserves the right to refuse service to any patrons for any reason.</li>
<br>
<li> WV Grand Bash officials, volunteers and WVUCH personnel working the event are not eligible for this drawing.</li>
<br>
<li> Neither WVU Children’s Hospital, WV Grand Bash officials and personnel, nor any other person, organization or business sponsoring or participating in the WV Grand Bash, assumes any liability for any claims for injury or other damages arising out of the possession of any firearms, ATV’s, motorcycles, recreational vehicles or vehicles obtained through this ticket; and by accepting this ticket, the holder acknowledges that limitation on liability.</li>
<br>
<br>

 
<li><strong>* Winner will receive 9 - $500 Gift Cards for use at www.best4outdoors.com.</strong></li>

<li><strong>** Prize winner has the option of receiving a predetermined cash value for the prize.</strong></li>
<br>

<li>Contact Information: WVU Children’s Hospital Development Office,<br>
PO Box 8200 (OSC), Morgantown, WV 26506.<br>
Phone (304) 598‐4346. Email: <a href= "mailto:wvgrandbash@wvumedicine.org">wvgrandbash@wvumedicine.org</a></li>
<br>


<li><strong>Upon providing a self-addressed, stamped envelope, a ticket holder will be mailed a list of winning ticket numbers.</strong></li>
<br>

<li><strong><font color="red">VOID WHERE PROHIBITED, INCLUDING BUT NOT LIMITED TO, ALABAMA, HAWAII, UTAH AND WISCONSIN.</font>
Raffle ticket sale invalid if prohibited by law in purchaser’s resident state. <font color="red"><a href="/faq"style="color:red">See FAQ for more information</a></font></strong></li>
</ul>
</p>
            </div>
           
</html>
